<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
  <title>Тестування</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Тестування</h1>
    <p>Ласкаво просимо на сторінку тестування. Натисніть на кнопку нижче, щоб почати тест.</p>
    <form action="test" method="post">
      <button type="submit">Почати тест</button>
    </form>
  </div>
</body>
</html>
